APP_NAME=python-app
APP_ENV=development
APP_PORT=5000
APP_API_KEY=replace-with-api-key
APP_SIGNING_SECRET=replace-with-signing-secret
# APP_API_KEY_FILE=C:/run/secrets/python_api_key
# APP_SIGNING_SECRET_FILE=C:/run/secrets/python_signing_secret
